* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .global {
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, black, #333);
    display: grid;
    place-items: center;
  }